.feed {
    &-card {
        width: 80%;
        font-family: "Merriweather", serif;
        margin: 1rem 0;
        padding: 2rem 1rem;
    }
    &-header {
        display: flex;
        justify-content: space-between;
        .date {
            position: absolute;
            top: 30%;
            left: 18%;
        }
        &-items {
            display: flex;
            align-items: center;
            .author {
                padding-left: .6rem;
                color: #e0ffff;
            }
        }
    }
    &-body {
        .link {
            color: #e0ffff;
        }
        .descr {
            font-weight: 500;
        }
        span.read {
            font-style: italic;
            font-size: 1rem;
        }
    }
}