.feed {
    &-wrapper {
        width: 90%;
    }
    &-card {
        position: sticky;
        top: 196px;
        margin: 1rem 0;
        padding: 2rem 1rem;
        border-radius: 4px;
        box-shadow: 2px 2px 12px #434345;
        background-color: #fff;

    }
    &-header {
        display: flex;
        justify-content: space-between;
        .date{
            position: absolute;
            top: 30%;
            left: 12%;
        }
        &-items {
            display: flex;
            align-items: center;
            .author {
                padding-left: .6rem;
            }
        }
        img {
            vertical-align: middle;
            width: 60px;
            height: 60px;
            border-radius: 50%;
        }
    }
}