.login, .register {
    text-align: center;
    padding-top: 120px;
    form {
        padding-top: 20px;
        fieldset {
            padding: 2px;
        }
        .form-group {
            margin: 0 auto;
        }
        .form-control {
            border-radius: 0px;
            border: none;
            outline: none;
            border-bottom: 1px solid #0077ff;
            &::placeholder {
                font-style: italic;
            }
        }
        .btn {
            margin: 20px 0 40px 0;
            padding: .7rem 4rem;
            font-size: 1rem;
            font-weight: 300;
        }
    }
    span {
        a {
            font-weight: 400;
            color: #0077ff;
        }
    }
}