.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    padding: .6%;
    width: 100%;
    z-index: 998;
    background-color: #ffffff;
    &-list {
        display: flex;
        align-items: center;
    }
    &-link {
        margin-right: 25px;
        color: #999999;
        font-weight: 700;
        font-size: 1rem;
        transition: all .3s;
        &:hover {
            font-size: 1.2rem;
            text-shadow: 1px 1px 2px #434345;
        }
        &.active {
            color: #2c3e50;
            padding-bottom: 1px;
            font-size: 1.2rem;
            border-bottom: 2px solid #0077ff;
        }
    }
}