.pagination {
    padding: 4% 0;
    &-list {
        display: flex;
        flex-wrap: wrap;
    }
    &-item {
        margin: 5px;
        border-radius: 4px;
        color: #2c3e50;
        cursor: pointer;
        background-color: #fff;
    }
    .pagination-link {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        width: 30px;
        height: 30px;
        color: #2c3e50;
    }
    &-item.active {
        background-color: #ffffff;
        border: 1px solid #2c3e50;
        box-shadow: 2px 2px 4px #606266;
        .pagination-link {
            color: #e0ffff;
            font-weight: 900;
            background-color: #2c3e50;
        }

    }
}