.pagination {
    display: flex;
    justify-content: center;
    &-list {
        display: flex;
        flex-wrap: wrap;
        width: 60%;
    }
    &-item {
        margin: 5px;
        border-radius: 4px;
        color: #2c3e50;
        cursor: pointer;
        border: 1px solid #606266;
    }
    .pagination-link {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        width: 40px;
        height: 40px;
        color: #0077ff;
    }
    &-item.active {
        color: green;
        background-color: #dddddd;
        border: 1px solid #0077ff;
        box-shadow: 1px 2px 3px #606266;
        .pagination-link {
            color: green;
        }

    }
}