.popular-tags {
    position: sticky;
    top: 140px;
    max-width: 24%;
    height: 30%;
    padding: 1rem;
    margin: 1rem;
    border-radius: 2px;
    text-align: center;
    background-color: #2c2c2c;
    box-shadow: 2px 2px 10px #000000;
    .tag-list {
        display: flex;
        flex-wrap: wrap;
    }
}